.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #F8F2DE;
    width: 100%;
  }

  .box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
    color: #ff416c;
  }
  
  .input-box {
    position: relative;
    margin-bottom: 15px;
  }
  
  .input-box input {
    width: 85%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 35px;
  }
  button {
    width: 30%;
    padding: 10px;
    margin-bottom: 15px;
    background: #e63a62;
    color: white;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background: #ff416c;
  }


  
.modal-overlay {
  position: fixed;
  top: 0;
  left: 30%;
  right: 0;
  bottom: 0;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
 
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

.modal-content h2{
  color: #ff416c;
}

.login-btn {
  width: 100%;
  
  padding: 10px;
  margin-bottom: 15px;
  background-color: #e63a62;
  
  border: none;
  border-radius: 35px;
  cursor: pointer;
  transition: 0.3s;
}


.inputField *{
  margin-top: 10px;
  border-radius: 10px;
}

.inputField select{
  width: 90%;
}

.inputField button {
  padding: 8px 16px;
  margin: 10px 10px 0 0;
  background-color: #ff416c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 15%;
  border-radius: 15px;
  margin: 1%;
}

button[type='button'] {
  background-color: #dc3545;
  width: 30%;
}
