
.modal-overlay {
    position: fixed;
    top: 0;
    left: 30%;
    right: 0;
    bottom: 0;
    width: 50%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;

   background: white;
  }

  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    
  }

  h2{
    color: #ff416c;
  }

  .modal-content h2{
    color: #ff416c;
  }
  
  input {
    margin: 10px 0;
    padding: 8px;
    width: 90%;
    box-sizing: border-box;

  }

  .inputField *{
    margin-top: 10px;
    border-radius: 10px;
  }

  .inputField select{
    width: 90%;
  }
  
  .inputField button {
    padding: 8px 16px;
    margin: 10px 10px 0 0;
    background-color: #ff416c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 15%;
    border-radius: 15px;
    margin: 1%;
  }
  
  button[type='button'] {
    background-color: #dc3545;
    width: 30%;
  }
  

.table {
    width: 100%;
    border-collapse: collapse; 
    margin: 1%;
  }
  
  
  .table thead {
    background-color: #F8F2DE;
    height: 50px;
    color: #ff416c;
}
  
  .table th {
    color: #ff416c; 
    padding: 12px 15px; 
    text-align: left;
    font-weight: bold; 
    text-align: center;

  }
  
  .table td {
    padding: 8px 15px; 
    text-align: center;
  } 
  
  /* .table tr:nth-child(even) {
    background-color: #F8F2DE;
   } */
   
  .table tr:hover {
    background-color: #F8F2DE; 
  }
  
  .action{
    margin: 1%;
    cursor: pointer;
    padding-right: 2%;
  }


  .modal-content button{
    width: 30%;
  }

  .course-box h4{
    color: #ff416c;
  }



  .modal-overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 1050;
}

.students h4{
  color: #ff416c;
}


.modal-content1 {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.modal-btns button{
  margin: 1%;
  border-radius: 5px;

}
